
<a routerLink="/doctor" class="mx-3">doctor</a>
<a routerLink="/patient" class="mx-3">patient</a>
<a routerLink="/medical" class="mx-3">medical</a>
<a routerLink="/staff" class="mx-3">staff</a>
<a routerLink="/people" class="mx-3">People</a>
<div class="container">
<router-outlet></router-outlet>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <ol>
        <li>ES6</li>
        <li>TS</li>
        <li>data binding</li>
        <li>directives</li>
        <li>services</li>
        <li>custom components</li>
        <li>lifecycle hooks</li>
        <li>routers</li>
        <li>forms</li>
        <li>lazy loading</li>
        <li>3rd party plugin</li>
        <li>porjec structure</li>
        <li>view encapsulation</li>
      </ol>
    </div>
  </div>
</div>